* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --webkit-font-smoothing: antialised;
    --moz-osx-font-smoothing: grayscale;
}
:root {
    font-family: 'Mulish', sans-serif;
    font-size: 62.5%;
    --main-bg: #F5F5F5;
    --white: #FFF;
    --main-text: #202024;
    --input-bg: #EEE;
    --input-color: #3D3D3D;
    --nav-text: #8D8D99;
}

body {
    font-size: 1.6rem;
    background: var(--main-bg);
}

#app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

.container {
    padding: 1.6rem 11.2rem;
}

header {
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: move .2s;
    --startY: -100%;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 7.6rem;
    list-style: none;
}

header nav ul li a {
    color: var(--nav-text);
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
}

header nav ul li a:hover, header nav ul li a.active {
    color: var(--main-text);
}

header form {
    width: 100%;
    padding: 0 7.6rem;
}

header label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

header input {
    background: var(--input-bg);
    width: 100%;
    height: 4.8rem;
    padding: 1.2rem 1.6rem;
    border: none;
    border-radius: 5px;
    opacity: .6;
}

header input::placeholder {
    font-weight: 600;
    color: var(--input-color);
}

main {
    margin-bottom: 6.4rem;
}

main > h1 {
    margin: 3.6rem 0;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 160%;
}

main .gallery {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 22px;
}

.gallery .card {
    width: 100%;
    background: var(--white);
    border-radius: 8px;
    overflow: hidden;
    --delay: .4s;
    animation: appear .4s var(--delay) backwards;
}

.card figure img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    transition: all 200ms ease-out;
    display: block;
}

.card figure img:hover {
    filter: hue-rotate(7deg) contrast(101%) saturate(200%);
    transform: scale(1.1) rotate(-2deg);
}

.card figure figcaption {
    padding: 2.2rem;
    background: var(--white);
    z-index: 1;
    position: relative;
}

.card figure figcaption .card-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 12px;
}

.card figure figcaption .card-tag {
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    background: var(--main-bg);
    width: fit-content;
    padding:  8px;
    border-radius: 6px;
}

footer {
    width: 100%;
    background: var(--white);
    text-align: center;
    animation: move .2s;
    --startY: 100%;
}

@keyframes move { 
    from {
        transform: translateY(var(--startY));
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    50% {
        transform: scale(1.2);
    }
}